<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul>
                <li><a href="../index.html">Volver</a></li>
                <li><a href="">Exploración</a></li>
                <li><a href="">Guerreros</a>
                    <ul>
                        <li><a href="">Defensores</a></li>
                        <li><a href="">Oníricos</a></li>
                    </ul>
                </li>
                <li><a href="">El caballero</a></li>
                <li><a href="">Información</a></li>
                <li><a href="">Mundo</a></li>
                <li><a href="./views/bandaSonora.html">Banda Sonora</a></li>
            </ul>
        </nav>
        <h1>El Caballero</h1>
        <div>
            <a href="Es el personaje que el jugador controla a lo largo de la historia principal en Hollow Knight"></a>
            <p>
                Al principio del juego, el Caballero está equipado solo con su Viejo Aguijón y la habilidad para curarse a sí mismo usando ALMA. A lo largo del juego, consigue nuevos poderes y Objetos que le permitirán avanzar dentro de Hallownest, el reino donde se desarrolla el juego, desbloqueando nuevas zonas y personajes.
            </p>
            <h2>Salud y alma</h2>
            <h3>Salud</h3>
            <p>La salud se representa con máscaras, visibles en la esquina superior izquierda de la pantalla. El Caballero comienza el juego con 5 máscaras, pudiendo conseguir más obteniendo Fragmentos de máscara. Cuatro fragmentos de máscara crearán una nueva máscara de salud, siendo posible obtener hasta un máximo de 9 máscaras. El jugador perderá salud al recibir daño por enemigos o por obstáculos del entorno. Para restaurar la salud el jugador podrá sentarse en un Banco o usar la Concentración.</p>
            <p>Las Máscaras de saviavida son proporcionadas por los Gérmenes de vida y ciertos Amuletos. Son máscaras temporales que no pueden ser restaurados con la concentración. Las otorgadas por los Gérmenes de vida no se regenerarán tras sentarse en un banco, mientras que los de los Amuletos se refrescarán al sentarse.</p>
            <h4>Alma</h4>
            <p>El ALMA está representada en el recipiente circular que se encuentra a la izquierda de las máscaras. Se puede usar para lanzar Hechizos y realizar la Concentración. La principal forma para conseguir ALMA es golpeando enemigos.</p>
        </div>
</body>
</html>