<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="exploracionMapa">
    <header class="listaBanda">
        <nav>
            <ul>
                <li><a href="../index.html">Volver</a></li>
                <li><a href="">Exploración</a></li>
                <li><a href="">Guerreros</a>
                    <ul>
                        <li><a href="">Defensores</a></li>
                        <li><a href="">Oníricos</a></li>
                    </ul>
                </li>
                <li><a href="">El caballero</a></li>
                <li><a href="">Información</a></li>
                <li><a href="">Mundo</a></li>
                <li><a href="">Banda Sonora</a></li>
            </ul>
            <section class="zonaMapaGrid">
                <h1>Zonas del Mapa</h1>
                <p>Acantilados Aulladores</p>
                <p>Bocasucia</p>
                <p>Canales Reales</p>
                <p>Cañón nublado</p>
                <p>Ciudad De Lágrimas</p>
                <p>Coliseo de los Insensatos</p>
                <p>Cruces olvidados</p>
                <p>Cuenca Antigua</p>
                <p>Cumbre de Cristal</p>
                <p>Hogar de los Dioses</p>
                <p>Jardines de la Reina</p>
                <p>La Colmena</p>
                <p>Límite del Reino</p>
                <p>Nido profundo</p>
                <p>Palacio Blanco</p>
                <p>Páramos Fúngicos</p>
                <p>Sendero Verde</p>
                <p>Tierras de Reposo</p>
            
            </section>
            
    
        </nav>
        <h1>Exploracion</h1>
    <img id=mapa src="../img/Map_Artwork.webp" alt="">


    
    
    
    </div>
</body>
</html>