<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="listaBanda">
        <img src="" alt="">
        <nav>
            <ul>
                <li><a href="../index.html">Volver</a></li>
                <li><a href="">Exploración</a></li>
                <li><a href="">Guerreros</a>
                    <ul>
                        <li><a href="">Defensores</a></li>
                        <li><a href="">Oníricos</a></li>
                    </ul>
                </li>
                <li><a href="">El caballero</a></li>
                <li><a href="">Información</a></li>
                <li><a href="">Mundo</a></li>
                <li><a href="./views/bandaSonora.html">Banda Sonora</a></li>
            </ul>
        </nav>
        <h1>Mundo</h1>
</body>
</html>